body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;
}
.xlatestnews
{
	text-align:center;
	font-weight:bolder;
	font-size:14pt;
}
.clickphoto
{
	padding-top:14px;
	text-align:center;
	font-weight:bold;
	font-size:12pt;
}
.img_center
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2
{
	background-color:#3C3;
	border-radius:4px;
	border:1px solid;
	border-color:#666;
	color:#FFF;
	font-size:14pt;
	font-weight:600;
	height:26px;
	margin-top:4px;
	margin-bottom:0;
	margin-right:-14px;
	margin-left:-r14px;
	padding-left:8px;
	padding-top:2px;
	padding-bottom:4px;
	text-align:center;
	font-weight:500;
}
h3
{
	margin-top:6px;
}
li
{
	padding-bottom:6px;
	padding-top:4px;
}
td,th
{
	vertical-align:top;
}
.top
{
	text-align:center;
	position:absolute;
	left:50%;
	padding-top:10px;
	padding-bottom:10px;
}
.rhspic
{
	width:230px;
}
.tnpic
{
	height:140px;
}

.block, .img_pad
{
	background-color:#FFC;
	border-radius:4px;
	border:1px solid;
	font-size:11pt;
	margin-top:6px;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	padding-left:4px;
	padding-right:2px;
	padding-top:4px;
	padding-bottom:4px;
}
.picright
{
	padding-left:4px;
	padding-right:4px;
	padding-left:6px;
	padding-right:6px;
	float:right;
}
.ctteepic
{
	width:300px;
	padding-left:4px;
	padding-right:4px;
	padding-left:6px;
	padding-right:6px;
	float:right;
}
.h1
{
	vertical-align:top;
	text-align:center;
	padding:0;
	margin:0
}
.h1 a
{
	font-size:28pt;
	font-weight:600;
	text-decoration:none;
    color:#063;
}
.reg
{
	color:#333;
	font-size:11pt;
	padding-top:6px;
	padding-bottom:10px;
	text-align:center;
}
 /*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 150px  ;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 150px  ;
    width: 0;
    height: 100%;
    margin-left: -150px  ;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px  ;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -150px  ;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px  ;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color:  #333;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 150px  ;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px  ;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper
	{
		padding:0;
        position: relative;
        margin : 0;
    }
}
#container-fluid
{
	padding:0;
	margin:0;
}
.newbutton
{
	background-color:#06F;
	border-radius:4px;
	border:1px solid;
	width:120px;
	border-color:#333;
	line-height:22px;
	margin-right:0;
    margin-left:6px;
    margin-top:7px;
	margin-bottom:7px;
	padding-right:2px;
	padding-left:2px;
	padding-top:2px;
	padding-bottom:0;
	text-decoration:none;
}
.newbutton a
{
	color:#FFF;
	font-size:11pt;
	font-weight:500;
	text-decoration:none;
}
.newbutton a:hover
{
	text-decoration:underline;
}
.redbutton
{
	background-color:#093;
	border-radius:4px;
	border:1px solid;
	border-color:#333;
	line-height:22px;
	margin-right:0;
    margin-left:6px;
    margin-top:7px;
	margin-bottom:7px;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-right:6px;
	padding-bottom:0;
	text-decoration:none;
	width:120px;
}
.redbutton a
{
	color:#FFF;
	font-size:11pt;
	font-weight:500;
	text-decoration:none;
}
.redbutton a:hover
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
