body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}
hr 
{
  height: 1px;
  background-color: #333;
  color: #black;
}
h1,
h1 a {
  padding-top: -20px;
  margin-top: -20px;
  color: #006633;
}
h2
{
  border: 1px solid;
  border-color: #333333;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #33cc33;
  color: #ffffff;
  font-size: 14pt;
  font-weight: 700;
  height: 28px;
  margin-top: 4px;
  margin-bottom: 0;
  margin-right: -10px;
  margin-left: -20px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 6px;
  text-align: center;
  font-weight: 500;
}
h3 {
  margin-top: 6px;
}
li {
  padding-bottom: 6px;
  padding-top: 4px;
}
td,
th {
  vertical-align: top;
}
.h1 
{
  padding-top: -20px;
  margin-top: -20px;
  text-align: center;
  vertical-align: top;
  padding: 0;
  margin: 0;
  color: #006633;
}
.h1 a
 {
  text-align: center;
  font-size: 32pt;
  font-weight: bolder;
  font-weight: 600;
  text-decoration: none;
  color: #006633;
}
.xlatestnews {
  text-align: center;
  font-weight: bolder;
  font-size: 14pt;
}
.clickphoto {
  padding-top: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.img_center, .imgCenter 
{
    display		: block;
    margin-left	: auto;
    margin-right: auto;
}
.txtCenter 
{
  text-align:center;
} 
.top 
{
  left: 30%;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rhspic {
  width: 230px;
}
.tnpic 
{
  height: 140px;
}
.blockheight
{
 	height:900px;
}
.block,
.img_pad {
  border: 1px solid;
  border-color: #333333;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #ffffcc;
  font-size: 11pt;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.picright {
  padding-left: 4px;
  padding-right: 4px;
  padding-left: 6px;
  padding-right: 6px;
  float: right;
}
.ctteepic {
  width: 300px;
  padding-left: 4px;
  padding-right: 4px;
  padding-left: 6px;
  padding-right: 6px;
  float: right;
}
.reg {
  color: #333;
  font-size: 11pt;
  padding-top: 6px;
  padding-bottom: 10px;
  text-align: center;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 150px  ;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 150px;
  width: 0;
  height: 100%;
  margin-left: -150px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 150px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -150px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  margin-top: 4px;
  padding-top: 4px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration : none;
  color           : #333;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #333;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 150px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 150px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    padding: 0;
    position: relative;
    margin: 0;
  }
}
.container-fluid 
{
  padding:0;
  margin: 0;
}
.newbutton {
  background-color: #0066ff;
  border: 1px solid;
  border-color: #333333;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 120px;
  line-height: 22px;
  margin-right: 0;
  margin-left: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 2px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 0;
  text-decoration: none;
}
.newbutton a {
  color: #ffffff;
  font-size: 11pt;
  font-weight: 500;
  text-decoration: none;
}
.newbutton a:hover {
  text-decoration: underline;
}
.redbutton {
  background-color: #009933;
  border: 1px solid;
  border-color: #333333;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 22px;
  margin-right: 0;
  margin-left: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 2px;
  padding-right: 4px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 0;
  text-decoration: none;
  width: 120px;
}
.redbutton a {
  color: #ffffff;
  font-size: 11pt;
  font-weight: 500;
  text-decoration: none;
}
.redbutton a:hover {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.brclear 
{
  clear: both;
}
.greenbar
{
	height			:56px;
	background-color:#00cc7b;
	color			:white;
	text-align		:center;
	font-size		:28pt;
	font-weight		:200;
	font-family		:Verdana, sans-serif;
}
.greenbox
{
	padding			:4px;
	color			:white;
	font-size		:16pt;
	font-weight		:600;
	height			:28px;
	width			:60px;
	background-color:#00ffbf;
}
.line1
{
	font-weight	:800;
}
.line2
{
	font-weight	:100;
}
.txtcenter
{
	text-align:center;
}
.dochead
{
	padding-right:6px;
    padding-left:6px;
	color		:red;
	font-weight	:bolder;
	font-size	:30px;
}
.docheadblack
{ 
	color		 :black;
	font-weight	 :bolder;
	font-size	 :32px;
	padding-right:6px;
	padding-left :6px;
}
.docimpact
{
	padding-right:6px;
	padding-left:6px;
	color		:#990066;
    font-size	:24px;
	text-align: center;
}
.docsubhead
{
	padding-right:6px;
	padding-left:6px;
	color		:black;
	font-weight:bolder;
	font-size:20px;
}
.doctxt
{
	padding-right:6px;
	padding-left:6px;
	color		:black;
	font-weight:bold;
	font-size:16px;
}
.liststar
{
	list-style-image: url('http://www.tvschools.org.uk/img/star.gif');
} 